@use '../../styles/' as *;

.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-width-sm;
  padding: 16px 24px;

  @include tablet() {
    max-width: $max-width-md;
    padding: 40px 24px;
  }

  @include desktop() {
    max-width: $max-width-lg;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column;
}

.list > *:not(:last-child) {
  margin-bottom: 12px;
}

.wrapper {
  padding: 12px;
  border: 1px solid #000;
}

.wrapper:not(:last-child) {
  margin-bottom: 16px;
}

.question {
  background-color: #fff;
  padding: 12px;
  border: 1px solid #000;
  margin-bottom: 12px;
}

.answer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .nilai {
    max-width: 120px;
    padding: 8px 12px;
    margin-top: auto;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 16px;

  button {
    max-width: 240px;
  }
}

.proof-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 24px;

  img {
    width: 320px;
    height: 240px;
  }
}
