@use '../../styles/' as *;

.root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $max-width-sm;
    padding: 16px 24px;

    @include tablet() {
        max-width: $max-width-md;
        padding: 40px 24px;
    }

    @include desktop() {
        max-width: $max-width-lg;
    }
}

.exam-info {
    border: 1px solid $color-black;
    border-radius: 10px;
    padding: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 400px;
  align-self: center;
  margin-top: 12px;
}

.question-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-name {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  margin-bottom: 8px;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.webcam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}