@use '../../styles/' as *;

.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-width-sm;
  padding: 16px 24px;

  @include tablet() {
    max-width: $max-width-md;
    padding: 40px 24px;
  }

  @include desktop() {
    max-width: $max-width-lg;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  &-button {
    max-width: 240px;
  }
}

.exams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}