@use '../../styles/' as *;

.root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $max-width-sm;
    padding: 16px 24px;

    @include tablet() {
        max-width: $max-width-md;
        padding: 40px 24px;
    }

    @include desktop() {
        max-width: $max-width-lg;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    &-button {
        max-width: 240px;
    }
}

.form {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.form-field:not(:last-child) {
    margin-bottom: 8px;
}

.exams {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
        border: 1px solid $color-neutral;
        border-radius: 10px;
        background-color: $color-white;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;

        &-right {
            align-items: flex-end;
        }
    }

    &-teacher {
        margin-top: 24px;
    }

    &-action {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-top: auto;
    }

    &-edit-button {
        padding: 4px 8px;
        border-radius: 5px;
    }

    &-code {
        padding:4px 8px;
        border-radius: 5px;
    }

    &-code:hover {
        cursor: pointer;
    }

    .status-wrapper {
        padding: 4px 8px;
        border-radius: 5px;
        max-width: 48px;
        cursor: default;
        text-align: center;
    }

    .Pending {
        background-color: $color-yellow;
    }

    .Published {
        background-color: $color-green;
    }

    .Archived {
        background-color: $color-neutral-2;
    }
}

.react-datepicker-wrapper {
  width: 100%;
}

.error {
    color: $color-red;
}
