@use '../../styles' as *;

.root {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.image {
    background-image: url('../../assets/images/uvers-bg.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 50%;
}

.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: $max-width-sm;
    padding: 16px 24px;
    width: 100%;

    @include tablet() {
        margin: 0;
        max-width: 100vw;
        padding: 0;
        width: 100vw;
    }
}

.form {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 452px;

    @include tablet() {
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
    }

    h1 {
        margin: 24px 0;
    }

    .label {
        margin-bottom: 4px;
    }

    button {
        margin-top: 8px;
    }

    .register {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: auto;
        text-align: center;

        @include tablet() {
            margin-top: 40px;
        }

        a {
            color: $color-blue;
            font-size: 12px;
            font-weight: 700;
            margin-left: 8px;
            text-decoration: none;
        }
    }
}

.input {
    margin-bottom: 16px;
}

.error {
    color: $color-red;
}