/* Colors */
$color-white: #fff;
$color-black: #000;
$color-neutral: #f0f4f8;
$color-neutral-2: #bcccdc;
$color-neutral-3: #829ab1;
$color-neutral-4: #486581;
$color-dark: #40444b;
$color-red: #fa2c5a;
$color-yellow: #f9cc00;
$color-green: #73ca5c;
$color-blue: #0093dd;
$color-blue-2: #006091;
$color-blue-3: #2bb8ff;

/* Breakpoint */
$breakpoint-sm: 425px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

/* Max-Width */
$max-width-sm: 600px;
$max-width-md: 968px;
$max-width-lg: 1168px;

/* Z-Index  */
$z-index-negative: -1;
$z-index-default: 0;
$z-index-positive: 1;
$z-index-front: 100;
$z-index-overflow: 1000;
