@use '../../styles/' as *;

.root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $max-width-sm;
    padding: 16px 24px;

    @include tablet() {
        max-width: $max-width-md;
        padding: 40px 24px;
    }

    @include desktop() {
        max-width: $max-width-lg;
    }
}


.form {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.form-field:not(:last-child) {
    margin-bottom: 8px;
}

.label {
    font-size: 12px;
    line-height: 1.5;
    color: #000;
}

.input {
    background-color: $color-white;
    border: 1px solid $color-neutral;
    border-radius: 16px;
    display: flex;
    padding: 14px 16px;
    margin-top: 8px;

    &:focus-within {
        border: 1px solid $color-black;
    }

    input {
        background-color: transparent;
        border: 0;
        color: $color-black;
        font-size: 14px;
        line-height: 20px;
        padding: 0;
        width: 100%;

        &::placeholder {
            color: $color-neutral;
            font-size: 14px;
        }
    }
}

.error {
    color: $color-red;
}

.button {
    background-color: $color-blue;
    border: 0;
    color: $color-white;
    font-size: 20px;
    line-height: 1.5;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}