@use '../../styles/' as *;

.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-width-sm;
  padding: 16px 24px;
  // background-color: $color-neutral-4;
  height: 100vh;
  justify-content: center;
  align-items: center;

  @include tablet() {
    max-width: $max-width-md;
    padding: 40px 24px;
  }

  @include desktop() {
    max-width: $max-width-lg;
  }
}


.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  box-sizing: border-box;

  .header {
    margin-bottom: 16px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.form-field:not(:last-child) {
  margin-bottom: 8px;
}

.error {
  color: $color-red;
}
