@use '../../styles/' as *;

.question-container {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border: 1px solid $color-black;
  border-radius: 10px;
  justify-content: space-between;
  padding: 16px;
}

.question-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-name {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  margin-bottom: 8px;
}

.question-right {
  text-align: right;
}